<div class="banner">
    <div class="banner_photo">
        <a href="#" style="text-decoration: none;">
            <div class="menu-trigger" style="background-color: #3A3C4F; width: 100px; height: 175px;position: absolute; top: 0; right: 8.8%; display: flex; ">
                <div class="container">
                    <p class="menu-title mt-4 mb-5" id="menu-title" style="align-items: flex-start; text-align: center;">Menu</p>
                    <div class="bot-lines" style="align-items: flex-end; justify-content: center; display: flex;">
                        <div class="first mr-1" style="width: 10px; height: 40px; background-color: #CB9D81; "></div>
                        <div class="second mr-1 mt-3" style="width: 10px; height: 63px; background-color: #CB9D81"></div>
                        <div class="third" style="width: 10px; height: 40px; background-color: #CB9D81"></div>
                    </div>
                </div>
            </div>
        </a>
        <img src="{{ asset('images/banner.jpg') }}" alt="banner" style="width: 100%">
    </div>
</div>