<div class="banner">
    <div class="banner_photo">
        <div class="side-menu-trigger-banner" style="display: flex;background: linear-gradient(to bottom,rgb(56,59,76),rgb(54,56,73))">
            <div class="container">
            <div class="mb-5 mt-4" style="align-items:  flex-start;">
                <h1 class="mb-4">PRODUCTION</h1>
                <h1 class="mb-4">UNDERGROUND</h1>
                <h1>ET ARTISTIQUE</h1>
            </div>
            <div style="align-items: flex-end;">
                <p>Boîte de production audiovisuelle basée sur</p>
                <p>l'événementiel et la culture urbaine</p>
            </div>
        </div>
        </div>
    </div>
    <a href="#" style="text-decoration: none;">
        <div class="menu-trigger" style="background-color: #3A3C4F; width: 100px; height: 175px;position: absolute; top: 0; right: 8.8%; display: flex; ">
            <div class="container">
                <p class="menu-title mt-4 mb-5" id="menu-title" style="align-items: flex-start; text-align: center;">Menu</p>
                <div class="bot-lines" style="align-items: flex-end; justify-content: center; display: flex;">
                    <div class="first mr-1" style="width: 10px; height: 40px; background-color: #CB9D81; "></div>
                    <div class="second mr-1 mt-3" style="width: 10px; height: 63px; background-color: #CB9D81"></div>
                    <div class="third" style="width: 10px; height: 40px; background-color: #CB9D81"></div>
                </div>
            </div>
        </div>
    </a>
</div>