<div class="photo-contact">
    <a href="{{ path('home.contact') }}" style="text-decoration: none;">
        <div class="side-menu-trigger" id="jesuisuntest" style="display: flex; justify-content: space-around; align-items: center;">
            <div id="carre"></div>
            <div class="contenu-side-menu-trigger">
                <h1>Contact</h1>
                <p>Contactez nous</p>
            </div>
            <div class="fleche" style="color: #CB9D81">
                <h1> > </h1>
            </div>
        </div>
    </a>
</div>