<div class="contacter-nous">
    <a href="{{ path('home.contact') }}" style="text-decoration: none;">
    <div class="nous-contacter">
        <h1>VOUS AVEZ UN PROJET ?</h1>
        <h1>PARLONS-EN</h1>
        <p>Contactez nous pour avoir de plus amples informations</p>
    </div>
    </a>
</div>