<div class="photo-portfolio mb-3">
    <a href="{{ path('home.portfolio') }}" style="text-decoration: none;">
        <div class="side-menu-trigger" style="display: flex; justify-content: space-around; align-items: center;">
            <div id="carre"></div>
            <div class="contenu-side-menu-trigger">
                <h1>Portfolio</h1>
                <p>Découvrez notre portfolio</p>
            </div>
            <div class="fleche" style="color: #CB9D81">
                <H1> > </H1>
            </div>
        </div>
    </a>
</div>
