<div class="how-many-vids mt-5 mb-5">
    <div class="videos-count" style="display: flex;justify-content: center; color: white">
        <div class="count1 mr-3" style="text-align: center">
            <i class="fas fa-film" style="font-size: 100px; color: #CB9D81"></i>
            <h3>+ de 15 AFTERMOVIES</h3>
            <p>de différents collectifs bordelais</p>
        </div>
        <div class="separation mr-3" style="border: 4px solid; color: rgb(147,149,158); height: 200px;"></div>
        <div class="count2 mr-3" style="text-align: center; height: 200px">
            <i class="fas fa-film" style="font-size: 100px; color: #CB9D81"></i>
            <h3>+ de 5 CAPTATIONS</h3>
            <p>de toute sortes d'événements</p>
        </div>
        <div class="separation mr-3" style="border: 4px solid; color: rgb(147,149,158)"></div>
        <div class="count3" style="text-align: center">
            <i class="fas fa-film" style="font-size: 100px; color: #CB9D81"></i>
            <h3>+ de 30 VIDEOS</h3>
            <p>et bien plus encore</p>
        </div>
    </div>
</div>