{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Créer une Vidéo</h1>
        {{ include('admin/video/_form.html.twig', {form: form, button: 'Créer'}) }}
    </div>
{% endblock %}

