{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Modifier un membre</h1>
        {{ include('admin/membres/_form.html.twig', {form: form, button: 'Editer'}) }}
    </div>
{% endblock %}

